<div class="userContainer">
@if (selectedUser) {

        <div class="userCard  USER_{{ selectedUser.id }}">

            <p>{{ selectedUser.id }}</p>
            <img
                src="https://placedog.net/50/50" 
                class="userImage"
                onerror="this.onerror=null; this.src='assets/imgs/img-not-found.png';" 

            />
            <h3>EEOO__13</h3>
            <h6>{{ selectedUser.name }} <small>({{ selectedUser.username }})</small></h6>

            <p class="email">{{ selectedUser.email }}</p>
            <p>{{ selectedUser.phone }}</p>
            <p>{{ selectedUser.website }}</p>

            <div class="address">
                <p>{{ selectedUser.address.street }}</p>
                <p>{{ selectedUser.address.city }}</p>
                <!-- <p>{{ selectedUser.address.zipcode }}</p>
                <p>{{ selectedUser.address.geo.lat }}</p>
                <p>{{ selectedUser.address.geo.lng }}</p> -->
            </div>

            <!-- <p>{{ selectedUser.company.name }}</p>
            <p>{{ selectedUser.company.catchPhrase }}</p>
            <p>{{ selectedUser.company.bs }}</p> -->
            
            <div class="userCard__footer">
                <button [routerLink]="['/users']">Go back!</button>
                <button class="delete" (click)="deleteUser(selectedUser.id)" [routerLink]="['/users/:id']" > &times; </button>
            </div>
        </div>
    } @else {
        <button [routerLink]="['/users']">Go back!</button>
        <h3 style="padding: 4em;">No existe el usuario</h3>
    }
</div>
