.userContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userCard {
        border: 1px solid #c2c3c4;
        background-color: #f2f3f4;
        padding: 1em;
        border-radius: 5px;
        width: 500px;
        margin: 2em auto;
        text-align: center;

        .userImage{
            margin: 20px auto;
        }

        .email {
            color: #727374;
        }

        .address {
            font-size: 85%;
            padding: 0.5em;
            border: 1px solid #b2b3b4;
            background: #fafafa;
        }
    }