<div class="userFormwrapper">
    <form [formGroup]="userForm" (ngSubmit)="postUser()">
        <h4>Create new user</h4><br>

        <label for="userId">user Id *</label>
        <input type="text" id="userId" formControlName="id" readonly>

        <label for="userName">user name</label>
        <input type="text" id="userName" formControlName="name">

        <label for="userEmail">user email</label>
        <input type="text" id="userEmail" formControlName="email">

        <hr>
        
        <!--
            'formGroupName' agrupa los campos de la dirección.
            Esto indica a Angular que estos campos pertenecen al 'FormGroup'
            anidado llamado 'address' en tu clase TypeScript.
        -->
        <div formGroupName="address">
            <h4>Address</h4><br>
            <label for="userCity">user city</label>
            <input type="text" id="userCity" formControlName="city">
            
            <label for="userstreet">user street</label>
            <input type="text" id="userStreet" formControlName="street">
        </div>
        
        <!-- El botón ahora está dentro del formulario.
             El tipo 'submit' hará que se dispare el evento 'ngSubmit' del formulario. -->
        <button type="submit">Create user</button>

        <p><strong id="sent-msg">{{ sentMsg }}</strong></p>

    </form>
</div>
