<div class="userFormwrapper">
    <form [formGroup]="userForm">
        <h4 >Create new user</h4><br>

        <label for="userId">user Id</label>
        <input type="text" id="userId" formControlName="id">

        <label for="userName">user name</label>
        <input type="text" id="userName" formControlName="name">

        <label for="userEmail">user email</label>
        <input type="text" id="userEmail" formControlName="email">


    </form>
    <form [formGroup]="addressForm">
        
        <label for="userCity">user city</label>
        <input type="text" id="userCity" formControlName="city">
        
        <label for="userstreet">user street</label>
        <input type="text" id="userStreet" formControlName="street">
    </form>
    <button (click)="postUser()" >Create user</button>
</div>
