<div class="componenteApp">
    
    <h1>componente App</h1>

    <p>{{variableCustom}} -  {{title}}</p>
    
    {{ isTrue ? "var is true" : "var not true!!" }}

    @if (isTrue) {
        <p> Pintado condicional: <strong>{{isTrue}}</strong></p>
    }

    <hr>
    <p style="margin: 0;">PINTANDO variables como atributo HTML</p>
    <input type="text" [value]="variableCustom"><br>
    <input type="text" [placeholder]="variableCustom">
    <hr>

    <p>Modificar el valor de una varible con doble data binding:</p>
    <p>ngModel importando FormsModule</p>
    <input type="text" [(ngModel)]="variableCustom" (input)="addOne()">
    <p>
        () eventos: del html al js
        <br>
        [] : data-binding del js al html
    </p>
    <hr>

    <p>addOne: {{number}}</p>
    <button (click)="addOne()">Add {{number}}</button>
    <button (click)="resetNum()">Reset</button>

    <hr>

    <app-child msg="Info desd el padre"></app-child>
    <app-child [msg]="variableCustom"></app-child>
    <app-child></app-child>

    <hr>

    @if (items) {
        <p>Array :</p>
        <ul>
            @for (item of items; track item) {
                <li>i:{{$index}}, item: {{item}}</li>
            }
        </ul>
    }


    <hr>
@if (animals) {
    <p>data json: </p>
    <div class="cardDeck">
        @for (animal of animals; track animal.id) {
            <div class="cardAnimal">
                <img src="{{animal.img}}" alt="aa" width="100px">

                <p class="cardInfo">{{animal.name}}</p>
            </div>
        }
    </div>
}



</div>