
.usersDeck {
    display: grid;
    justify-content: flex-start;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem;

    .userCard {
        border:1px solid #c2c3c4;
        background-color: #f2f3f4;
        padding: 1em;
        border-radius: 5px;
        .email {
            color:#727374;
        }
        
        &__footer{
            margin-top: 2em;
            display: flex;
            gap: 0.5rem;
            justify-content: center;

            button {
                margin-top: 1rem;
            }
        }
    }
}