<div class="componenteApp">
    
    <h1>componente App</h1>

    <p>{{variableCustom}} -  {{title}}</p>
    
    {{ isTrue ? "var is true" : "var not true!!" }}

    @if (isTrue) {
        <p> Pintado condicional: <strong>{{isTrue}}</strong></p>
    }

    <hr>
    <p style="margin: 0;">PINTANDO variables como atributo HTML</p>
    <input type="text" [value]="variableCustom"><br>
    <input type="text" [placeholder]="variableCustom">
    <hr>

    <p>Modificar el valor de una varible con doble data binding:</p>
    <p>ngModel importando FormsModule</p>
    <input type="text" [(ngModel)]="variableCustom" (input)="addOne()">
    <p>
        () eventos: del html al js
        <br>
        [] : data-binding del js al html
    </p>
    <hr>
     <div class="mensajeBlock">
        @if (mensajeDelHijo) {
            <h4 style="color: green;">Mensaje del hijo: {{mensajeDelHijo}}</h4>
        } @else {
            <h3 style="color: red;">No hay mensaje del hijo</h3>
        }
    </div>
    <hr>

    <p>addOne: {{number}}</p>
    <button (click)="addOne()">Add {{number}}</button>
    <button (click)="resetNum()">Reset</button>
    <button (click)="toggleBoolean()">Toggle Boolean</button>

    <hr>

    <app-child msg="Prop desde el padre"></app-child>
    <app-child [msg]="variableCustom"></app-child>
   
    <!-- recibe el evento custom -->
    <app-child [hasButton]="true" (eventoPersonalizado)="manejarEvento($event)"></app-child>

    <hr>

    @if (arrayExample) {
        <p>arrayExample :</p>
        <ul>
            @for (item of arrayExample; track item) {
                <li>i:{{$index}}, item: {{item}}</li>
            }
        </ul>
    }


    <hr>
    @if (animals) {
        <p>data json: </p>
        <div class="cardDeck">
            @for (animal of animals; track animal.id) {
                <div class="cardAnimal">
                    <img src="{{animal.img}}" alt="aa" width="100px">

                    <p class="cardInfo">{{animal.name}}</p>
                </div>
            }
        </div>
    }

    <hr>
    <h2 [ngClass]="{dark:isTrue, big:false}">NgClass clases dinámicas {{isTrue}}</h2>

    <my-form></my-form>



</div>  