$pepe : dodgerblue;

.componenteChild {
        border:2px solid $pepe;
        border-radius: 4px;
        padding: 1em;
        background-color: rgba(69, 204, 245, 0.33);
        margin-bottom: 0.5em;


        & > * {
            margin: 0;
        }
    }