<nav>
    <ul class="nav-links">
        <!-- routerLinkActive="active" añadirá la clase 'active' a este <li>
             cuando la ruta actual sea exactamente '/'. -->
        <li >
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/cajon">Cajón</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/movies">Movies</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/form">Form</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/users">Users</a>
        </li>
    </ul>
</nav>